.pagamento-wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.patinhas-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

.pagamento-conteudo {
  position: relative;
  z-index: 1;
  flex: 1; /* Faz o conteúdo crescer para ocupar o espaço disponível */
  display: flex;
  flex-direction: column;
}

.conteudo-entre-header-footer {
  margin-top: 100px; /* Ajuste conforme necessário */
  flex: 1; /* Faz o conteúdo principal crescer */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Ajuste conforme necessidade */
}

.titulo-page {
  font-size: 30px !important;
  text-align: center;
  margin-top: 60px;
}

.paragrafo {
  text-align: center;
  margin-top: 10px;
  font-size: 25px !important;
  margin-bottom: 30px;
}

.container-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-bottom: 40px;
}