.filtros-container {
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  gap: 70px; /* espaço entre os filtros */
  background: transparent;
  margin-top: 20px;
  padding: 8px 20px 8px 12px;
}

.filtros-container select {
  font-size: 1rem;
  padding: 8px 16px 8px 12px; /* padding-right ajustado */
  border: none;
  border-radius: 6px;
  background: transparent;
  color: #6D3A7E;
  cursor: pointer;
  outline: none;
  font-weight: bold;

  /* Remove a seta nativa */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filtros-container select:hover,
.filtros-container select:focus {
  background: transparent; /* mantém transparente no hover e focus */
  outline: none;
}

